@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Squiggle line */
.squiggle {
    filter: url("#squiggle");
    position: relative;
    transform: translateZ(0);
}

/* Sqiggle icon animation */
@-webkit-keyframes squiggles {
    0% {
        filter: url(#squiggly-0)
    }

    33% {
        filter: url(#squiggly-1)
    }

    66% {
        filter: url(#squiggly-2)
    }

    to {
        filter: url(#squiggly-3)
    }
}

@keyframes squiggles {
    0% {
        filter: url(#squiggly-0)
    }

    33% {
        filter: url(#squiggly-1)
    }

    66% {
        filter: url(#squiggly-2)
    }

    to {
        filter: url(#squiggly-3)
    }
}

/* On hover squiggle icon */
.squiggleIcon:hover {
    -webkit-animation: squiggles .34s linear infinite;
    animation: squiggles .34s linear infinite
}

/* Hand drawn border */
.custom-rounded-border {
    border-width: 5px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 200px;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 200px 15px;
}

/* Custom rotation */
.custom-rotate {
    transform: rotate(-7.5deg);
}

.scribble-box {
    box-shadow: -2px -2px 0 0 #000, 2px 2px 0 0 #000, 1px -3px 0 0 #000;
}

@layer base {
    @font-face {
      font-family: Marujo;
      font-weight: 400;
      src: url(/fonts/Marujo.woff2) format("woff2");
    }
    @font-face {
        font-family: Sketch Block;
        font-weight: 400;
        src: url(/fonts/SketchBlockBold.woff2) format("woff2");
    }
    @font-face {
        font-family: Driving Around;
        font-weight: 400;
        src: url(/fonts/DrivingAround.ttf) format("woff2");
    }
    @font-face {
        font-family: Lexo;
        font-weight: 400;
        src: url(/fonts/lexo.ttf) format("woff2");
    }
    @font-face {
        font-family: Mathematic;
        font-weight: 400;
        src: url(/fonts/Mathematic.ttf) format("woff2");
    }
}