---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Earnest Scribbles" pageHeading="Earnest Scribbles">

	<section
		class="max-w-3xl mx-4 lg:mx-auto mt-8 p-6 bg-gray-100 rounded-lg border-4 border-black shadow-[5px_5px_0px_0px_rgba(0,0,0,1)] relative"
	>
		<!-- Decorative shapes for the sketchy effect -->
		<div class="absolute -top-3 -left-3 w-8 h-8 bg-black rotate-12"></div>
		<div class="absolute -bottom-3 -right-3 w-8 h-8 bg-black rotate-6">
		</div>

		<p class="text-lg font-body text-gray-800 leading-relaxed">
			Welcome to Earnest Scribbles, a canvas for my thoughts and
			documentation on all things tech.
		</p>
		<p class="text-lg font-body text-gray-800 leading-relaxed mt-4">
			Here are a few things I ponder about:
		</p>
		<ul class="text-lg font-title text-gray-800 leading-relaxed mt-5">
			<li>
				<strong class="font-body">Observability.</strong>
				Shedding light on system behavior with precision and clarity.
			</li>
			<li>
				<strong class="font-body">SRE.</strong>
				Ensuring systems stay resilient and reliable, crafting stability
				amidst the chaos of technology.
			</li>
			<li>
				<strong class="font-body">DevOps.</strong>
				Streamlining software delivery through collaboration and automation,
				bridging the gap between development and operations.
			</li>
			<li>
				<strong class="font-body">Security.</strong>
				Safeguarding digital assets with vigilant protection and proactive
				defense measures against cyber threats.
			</li>
			<li>
				<strong class="font-body">Development.</strong>
				Crafting digital solutions through the art of coding, transforming
				ideas into functional software with precision and creativity.
			</li>
		</ul>
	</section>
</BaseLayout>
