---

---

<footer class="bg-gradient-to-r from-sky-200 to-indigo-200 mt-8">
    <div class="w-full border-b-2 border-black squiggle"></div>
    <div class="max-w-5xl container px-3 py-3 mx-auto h-16"></div>
</footer>