---

---

<nav class="bg-gradient-to-r from-sky-200 to-indigo-200">
  <div class="container max-w-full md:max-w-5xl px-3 py-3 mx-auto flex flex-wrap items-center justify-between">
      <!-- Logo/Title -->
      <h1 class="text-xl md:text-3xl font-nav font-bold hover:text-pink-400 squiggleIcon">
          <a href="/">EARNEST SCRIBBLES</a>
      </h1>

      <!-- Links -->
      <ul class="flex flex-wrap md:flex-nowrap space-x-3 md:space-x-6 font-nav mt-2 md:mt-0">
          <li class="transition transform hover:scale-110 duration-200">
            <a
              href="/blog"
              class="hover:text-purple-700 border-2 border-black bg-blue-100 rounded-lg px-4 py-1 text-sm"
            >
              BLOG
            </a>
          </li>
          <li class="transition transform hover:scale-110 duration-200">
            <a
              href="/project"
              class="hover:text-purple-700 border-2 border-black bg-blue-100 rounded-lg px-4 py-1 text-sm"
            >
              PROJECTS
            </a>
          </li>
          <li class="transition transform hover:scale-110 duration-200">
            <a
              href="/notebook"
              class="hover:text-purple-700 border-2 border-black bg-blue-100 rounded-lg px-4 py-1 text-sm"
            >
              NOTEBOOK
            </a>
          </li>
      </ul>
  </div>
  <div class="w-full border-b-2 border-black squiggle"></div>
</nav>