---

---

<nav class="bg-gradient-to-r from-sky-200 to-indigo-200">
    <div
        class="max-w-5xl container px-3 py-3 mx-auto flex justify-between items-center"
    >
        <!-- Logo/Title -->
        <h1 class="text-3xl font-nav font-bold hover:text-pink-400 squiggleIcon">
            EARNEST SCRIBBLES
        </h1>

        <!-- Links -->
        <ul class="flex space-x-6 font-nav text">
            <li>
              <a
                href="/"
                class="hover:text-purple-700 border-2 border-black bg-blue-100 rounded-lg px-4 py-1 text-sm relative 
                after:absolute shadow-[2px_2px_0_0_rgba(0,0,0,1)]"
              >
                BLOG
              </a>
            </li>
            <li>
              <a
                href="/blog"
                class="hover:text-purple-700 border-2 border-black bg-blue-100 rounded-lg px-4 py-1 text-sm relative after:absolute shadow-[2px_2px_0_0_rgba(0,0,0,1)]"
              >
                PROJECTS
              </a>
            </li>
            <li>
              <a
                href="/projects"
                class="hover:text-purple-700 border-2 border-black bg-blue-100 rounded-lg px-4 py-1 text-sm relative after:absolute shadow-[2px_2px_0_0_rgba(0,0,0,1)]"
              >
                NOTEBOOK
              </a>
            </li>
          </ul>
    </div>
    <div class="w-full border-b-2 border-black squiggle"></div>
</nav>