---
const { title } = Astro.props;
---
<section class="mb-8 mt-8">
    <div class="mb-6">
        <h1 class="font-sketch text-center text-4xl md:text-5xl pt-4 pb-2">
            <span
                class="border-cyan-300 rounded px-6 py-2 custom-rounded-border primary-blue text-green-200 bg-gray-700 shadow-lg inline-block sm:inline"
            >
                {title}
            </span>
        </h1>
    </div>
</section>