---
---
<div
  class="prose prose-lg prose-img:rounded-xl prose-code:before:hidden prose-code:after:hidden prose-headings:font-sketch prose-headings:text-teal-400 prose-headings:underline w-full max-w-none">
  <slot />
</div>