---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import PageHeading from "../components/PageHeading.astro";
import Footer from "../components/Footer.astro";
import SquiggleLine from "../components/Squiggle-Line.astro";
import SquiggleIcon from "../components/Glitch.astro";

const { pageTitle, pageHeading } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
	<body class="bg-white selection:bg-lime-200 bg-body overflow-auto bg-cover bg-no-repeat bg-fixed flex flex-col min-h-screen">
	 <SquiggleLine />
		<Nav />

    <main class="flex-grow">
      <PageHeading title={pageHeading} />
      <slot />
    </main>

		<SquiggleIcon />
    
    <Footer />
	</body>
</html>
