---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import PageHeading from "../components/PageHeading.astro";
import Footer from "../components/Footer.astro";
import SquiggleLine from "../components/Squiggle-Line.astro";
import SquiggleIcon from "../components/Glitch.astro";

const { pageTitle, pageHeading } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
  </head>
	<body class="bg-white selection:bg-lime-200 bg-body overflow-auto bg-cover bg-no-repeat bg-fixed flex flex-col min-h-screen">
	 <SquiggleLine />
		<Nav />

    <main class="flex-grow">
      <PageHeading title={pageHeading} />
      <slot />
    </main>

		<SquiggleIcon />
    
    <Footer />
	</body>
</html>
